
@{
    Layout = null;
    ViewBag.Title = "List";
}

<h2>List</h2>


流程列表：
@{ List<Model.WfProcess> processes = ViewBag.Processes; }
@if (processes != null && processes.Count() > 0)
{
    foreach (Model.WfProcess p in processes)
    {
        <li>
            @*<input type="hidden" value="1" class="IsNew"/>
            <input type="hidden" value="@p.ProcessGuid" class="ID"/>*@
            <a href="/Home/Handle?isNew=true&id=@p.ProcessGuid" class="create">@p.ProcessName</a>
        </li>
    }
}

<br/><br/>

任务列表：
@*@foreach (var t in ViewBag.Tasks)
{
    <li>@t</li>
}*@
@{ List<Model.ViewModel.TaskVM> tasks = ViewBag.Tasks; }
@if (tasks!=null && tasks.Count() > 0)
{
    <table>
        <thead><tr><td>实例标题</td><td>实例开始时间</td><td>任务标题</td><td>任务创建时间</td><td>操作</td></tr></thead>
        <tbody>
        @foreach (Model.ViewModel.TaskVM t in tasks)
        {
            <tr>
                <td>@t.InstanceTitle</td>
                <td>@t.StartTime</td>
                <td>@t.TaskTitle</td>
                <td>@t.CreateTime</td>
                <td><a href="/Home/Handle?isNew=false&id=@t.TaskGuid" class="open">办理</a></td>
            </tr>
        }
        </tbody>
    </table>
}



<script>
    $(document).ready(function () {
//        $(".create").click(function () {
//            $.ajax({
//                type: "POST",
//                url: "some.php",
//                data: {"isNew": this.prev(".IsNew"), "id": this.prev(".ID")}
//                success: function (msg) {
//                    alert("Data Saved: " + msg);
//                }
//            });
//        });
    });
</script>